<!DOCTYPE html>
<html>

<head>
    <title>Checkout</title>
</head>

<body>
    <h1>Checkout a Book</h1>
    <form action="/checkoutBook" method="POST">
        <label for="MemberID">Member ID:</label>
        <input type="text" name="MemberID" id="MemberID">
        <br>
        <label for="ISBN">Book ISBN:</label>
        <input type="text" name="ISBN" id="ISBN">
        <br>
        <button type="submit">Checkout</button>
    </form>
</body>

</html>